/bin/classes/com/istarp/android/websms/poslatsmscz/ConnectorExample.class
/bin/classes/com/istarp/android/websms/poslatsmscz/package-info.class
/bin/classes/com/istarp/android/websms/poslatsmscz/Preferences.class
/bin/classes/com/istarp/android/websms/poslatsmscz/R$attr.class
/bin/classes/com/istarp/android/websms/poslatsmscz/R.class
/bin/classes/com/istarp/android/websms/poslatsmscz/R$drawable.class
/bin/classes/com/istarp/android/websms/poslatsmscz/R$string.class
/bin/classes/com/istarp/android/websms/poslatsmscz/R$xml.class
/bin/classes/de/ub0r/android/websms/connector/common/R$attr.class
/bin/classes/de/ub0r/android/websms/connector/common/R.class
/bin/classes/de/ub0r/android/websms/connector/common/R$drawable.class
/bin/classes/de/ub0r/android/websms/connector/common/R$string.class
/bin/classes/de/ub0r/android/websms/connector/common/R$xml.class
/gen/com/istarp/android/websms/poslatsmscz/R.java
/gen/de/ub0r/android/websms/connector/common/R.java
